{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Baalperazim</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Favicon -->
    <link href="{% static 'img/favicon.ico' %}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
 <div class="container-fluid position-relative d-flex p-0">

    <!-- Spinner Start -->
    <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>  
    </div>
    <!-- Spinner End -->
    {% if user.is_authenticated and user.role|lower in "admin manager" %}
        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="{% url 'admin_dashboard' %}" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>Maatla</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="{% static 'img/user.jpg' %}" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <span class="d-none d-lg-inline-flex">{{ user.full_name|default:user.email }}</span>
                        <span>{{ user.role|default:"Admin" }}</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="{% url 'admin_dashboard' %}" class="nav-item nav-link {% if request.resolver_match.url_name == 'admin_dashboard' %}active{% endif %}">
                        <i class="fa fa-tachometer-alt me-2"></i>Dashboard
                    </a>

                    <div class="nav-item dropdown">
                       <a href="#" class="nav-link dropdown-toggle {% if request.resolver_match.url_name in 'mamehlabe_store pos_2 pos_1 pos_3 invoice_entry_page daily_sales_report report_sections return_transactions stock_on_hand' %}active{% endif %}" data-bs-toggle="dropdown">
                            <i class="fa fa-store me-2"></i>Mamehlabe
                        </a>

                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="{% url 'mamehlabe_store' %}" class="dropdown-item {% if request.resolver_match.url_name == 'mamehlabe_store' %}active{% endif %}">All Transactions</a>
                            <a href="{% url 'pos_1' %}" class="dropdown-item {% if request.resolver_match.url_name == 'pos_1' %}active{% endif %}">POS 1</a>
                            <a href="{% url 'pos_2' %}" class="dropdown-item {% if request.resolver_match.url_name == 'pos_2' %}active{% endif %}">POS 2</a>
                            <a href="{% url 'pos_3' %}" class="dropdown-item {% if request.resolver_match.url_name == 'pos_3' %}active{% endif %}">POS 3</a>
                            <a href="{% url 'daily_sales_report' %}" class="dropdown-item {% if request.resolver_match.url_name == 'daily_sales_report' %}active{% endif %}">Daily Sales Report</a>
                            <a href="{% url 'report_sections' %}" class="dropdown-item {% if request.resolver_match.url_name == 'report_sections' %}active{% endif %}">End Of Day</a>
                            <a href="{% url 'stock_on_hand' %}" class="dropdown-item {% if request.resolver_match.url_name == 'stock_on_hand' %}active{% endif %}">Stock On Hand</a>
                            <a href="{% url 'return_transactions' %}" class="dropdown-item {% if request.resolver_match.url_name == 'return_transactions' %}active{% endif %}">Return Items</a>
                            <a href="{% url 'invoice_entry_page' %}" class="dropdown-item {% if request.resolver_match.url_name == 'invoice_entry_page' %}active{% endif %}">Invoices</a>
                        </div>

                    </div>
            
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->

        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            {% load static %}
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
                <a href="{% url 'admin_dashboard' %}" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>

                <form class="d-none d-md-flex ms-4">
                    <input class="form-control bg-dark border-0" type="search" placeholder="Search">
                </form>

                <div class="navbar-nav align-items-center ms-auto">
                    
                    <!-- Notifications -->
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-bell me-lg-2 position-relative">
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    2
                                </span>
                            </i>
                            <span class="d-none d-lg-inline-flex">Notifications</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Stock needs to be ordered in 5 days</h6>
                                <small>Just now</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Diesel level is low - reorder soon</h6>
                                <small>10 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all notifications</a>
                        </div>
                    </div>


                    <!-- User Dropdown -->
                    <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        {% if user.is_authenticated %}
                            <img class="rounded-circle me-lg-2" src="{% static 'img/user.jpg' %}" alt="" style="width: 40px; height: 40px;">
                            <span class="d-none d-lg-inline-flex">{{ user.full_name|default:user.email }}</span>
                        {% else %}
                            <span class="d-none d-lg-inline-flex">Guest</span>
                        {% endif %}
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                        {% if user.is_authenticated %}
                            <span class="dropdown-item text-white">
                                <strong>Role:</strong> {{ user.role|title }}<br>
                                <strong>Email:</strong> {{ user.email }}<br>
                                <strong>Phone:</strong> {{ user.contact_number }}<br>
                                <strong>Address:</strong> {{ user.home_address }}
                            </span>
                            <div class="dropdown-divider"></div>
                            <a href="{% url 'password_change' %}" class="dropdown-item">Change Password</a>
                            <a href="{% url 'logout' %}" class="dropdown-item">Log Out</a>

                        {% else %}
                            <a href="{% url 'login' %}" class="dropdown-item">Login</a>
                        {% endif %}
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->
    {% endif %}
    {% if user.is_authenticated and user.role|lower in "staff" %}
        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="{% url 'staff_dashboard' %}" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>Baalperazim</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="{% static 'img/user.jpg' %}" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <span class="d-none d-lg-inline-flex">{{ user.full_name|default:user.email }}</span>
                        <span>{{ user.role|default:"Admin" }}</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="{% url 'staff_dashboard' %}" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    <a href="{% url 'apply_leave' %}" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Leave Application</a>                
                    <a href="{% url 'full_calendar' %}" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Calendar</a>
                    <a href="{% url 'code_of_conduct' %}" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Code of Conduct</a>
                    <a href="{% url 'upcoming_events' %}" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Events</a>
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->

        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            {% load static %}
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
                <a href="{% url 'admin_dashboard' %}" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>

                <form class="d-none d-md-flex ms-4">
                    <input class="form-control bg-dark border-0" type="search" placeholder="Search">
                </form>

                <div class="navbar-nav align-items-center ms-auto">
                    
                    <!-- Notifications -->
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-bell me-lg-2 position-relative">
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    2
                                </span>
                            </i>
                            <span class="d-none d-lg-inline-flex">Notifications</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Stock needs to be ordered in 5 days</h6>
                                <small>Just now</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Diesel level is low - reorder soon</h6>
                                <small>10 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all notifications</a>
                        </div>
                    </div>


                    <!-- User Dropdown -->
                    <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        {% if user.is_authenticated %}
                            <img class="rounded-circle me-lg-2" src="{% static 'img/user.jpg' %}" alt="" style="width: 40px; height: 40px;">
                            <span class="d-none d-lg-inline-flex">{{ user.full_name|default:user.email }}</span>
                        {% else %}
                            <span class="d-none d-lg-inline-flex">Guest</span>
                        {% endif %}
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                        {% if user.is_authenticated %}
                            <span class="dropdown-item text-white">
                                <strong>Role:</strong> {{ user.role|title }}<br>
                                <strong>Email:</strong> {{ user.email }}<br>
                                <strong>Phone:</strong> {{ user.contact_number }}<br>
                                <strong>Address:</strong> {{ user.home_address }}
                            </span>
                            <div class="dropdown-divider"></div>
                            <a href="{% url 'password_change' %}" class="dropdown-item">Change Password</a>
                            <a href="{% url 'logout' %}" class="dropdown-item">Log Out</a>

                        {% else %}
                            <a href="{% url 'login' %}" class="dropdown-item">Login</a>
                        {% endif %}
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->
    {% endif %}       