{% extends 'base.html' %}
{% block content %}
<div class="container-fluid pt-4 px-4">
  <div class="bg-secondary text-white rounded p-4">
    <h4 class="mb-4">Upcoming Events</h4>
    <ul class="list-group list-group-flush text-white">
      <li class="list-group-item bg-secondary border-0 p-3">
        <strong>Safety Training</strong> <br>
        Date: June 15, 2025 <br>
        Time: 10:00 AM <br>
        Location: Conference Room A
      </li>
      <li class="list-group-item bg-secondary border-0 p-3">
        <strong>Inventory Audit</strong> <br>
        Date: June 20, 2025 <br>
        Time: 9:00 AM <br>
        Location: Storage Area
      </li>
      <li class="list-group-item bg-secondary border-0 p-3">
        <strong>Monthly Staff Meeting</strong> <br>
        Date: June 25, 2025 <br>
        Time: 2:00 PM <br>
        Location: Main Office
      </li>
    </ul>
  </div>
</div>
{% endblock %}
